.home-container {
    max-width: auto;
    margin: 0 auto;
    background-color: rgb(94 234 212);
    padding: 20px;
    box-shadow: 0 0 10px rgba(20, 18, 37, 0.1);
}

header {
    text-align: center;
}

.profile-photo {
    width: 150px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 85%; /* Circular photo */
}

h1, h2 {
    color: #1c1b56;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
/*hi Hiroshan*/
.cv-my{
    margin: 20px 0;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

  
  .cv-my h2 {
    margin-top: 15px;
    font-size: 45px;
    color: #1c1b56;
    text-align: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

  
  .cv-my p, .cv-my ul {
    font-size: 16px;
    color: #192a31;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .cv-info ul {
    list-style-type: disc; /* Style the list with bullet points */
    padding-left: 20px; /* Add padding to the list */
  }
  
  

  /*my details*/
.cv-info {
    margin: 20px 0;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}
.cv-info {
    border: 2px solid #ccc; /* Add a border around the box */
    padding: 50px; /* Add some space inside the box */
    border-radius: 10px; /* Round the corners of the box */
    max-width: auto; /* Limit the box width */
    margin: 20px auto; /* Center the box horizontally */
    background-color: #6e6e87; /* Set a background color */
    box-shadow: 0 4px 8px rgba(144, 89, 89, 0.1); /* Add a shadow for better appearance */
  }
  
  .cv-info h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #1c1b56;

   
  }
  
  .cv-info h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
  }
  
  .cv-info p, .cv-info ul {
    font-size: 16px;
    color: #0e0a0a;
  }
  
  .cv-info ul {
    list-style-type: disc; /* Style the list with bullet points */
    padding-left: 20px; /* Add padding to the list */
  }
  
  